@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;

.form > label  { 
    width:  100% ;
    font-weight: 800;
}  

.form > input   { 
    width:  100% ;
    outline: none;
    border-width: 1px ;
    border-radius:  8px ;
    padding: 2px 2px 2px 10px ;
}  

.button { 
 @apply mx-[10%] w-[80%] cursor-pointer bg-black font-bold rounded-xl text-white  my-2 dark:text-black dark:bg-gray-300
}

.navbar > div { 
    @apply  w-min px-4   rounded-[14px]  font-bold  cursor-pointer  
}

.styled-table {
    border-spacing: separate ;
    width:  100%;
}

.styled-table th ,
.styled-table td {
    border:  1px solid #444 ;
    padding: 4px ; 
    text-align:  center;

}

.styled-table th {
    background-color:  black ;
  }

.styled-table td { 
   @apply dark:bg-[#121212] 
}

.shimmer { 
    @apply bg-gradient-to-r from-[#2a2a2a] via-[#333333] to-[#222222] animate-pulse rounded-lg shadow-lg   
}
